body{
  background-color: #fde8cd
}
h1:hover{
  color: #30475e;
  font-size: 100px;
  text-align: center;
  font-family: fantasy;
}
h3{
  color:#7c9473;
  font-size: 50px;
  text-align: center;
  font-family: cursive;
}
p{
  font-family: monospace;
  font-size: 20px;
  color:black;
  text-align: center;
}
hr{

    border-style: none;
    border-top-style: dotted;
    border-color: #2c061f;
    border-width: 5px;
    height: 0px;
    width: 60%;


}
.broccoli {
  background-color: #74c7b8;
}
.bacon{
  position: relative;
  left: 600px;
}

#heading{
  color: #374045;
  font-size: 100px;
  text-align: center;
  font-family: fantasy;
}
img:hover{
  background-color: #ff884b;

}
